<div class="jumbotron">

<h1>Welcome</h1>

<img src="http://www.pizzahut-tt.com/wp-content/uploads/2013/06/pizza-hut-trinidad-and-tobago-pepperoni-lovers-pizza.png">

<%= link_to "Check out our pizzas!" , pizzas_path, class: "btn btn-default" %>

</div>